<phpunit colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/phpunit/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/phpunit/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
    </coverage>
</phpunit>
